.section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('/images/news-mob.png');
    background-position: top left 50%;
    background-repeat: no-repeat;
    background-size: 627px auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section {  background-image: url('/images/news-mob@2x.png');}
}

@media screen and (min-width: 768px) {
.section { 
    padding-top: 54px;
    padding-bottom: 54px;
    background-image: url('/images/news.png');
    background-position: bottom calc(50% - 110px) left calc(50% - 87px);
    background-size: 2056px auto;

}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section {
        background-image: url('/images/news@2x.png');
    }
}
}

@media screen and (min-width: 1280px) {
.section { 
    padding-top: 72px;
    padding-bottom: 200px;
    background-position: bottom calc(50% - 160px) left calc(50% - 87px);
}
}

.list {
    @apply place-items-center grid grid-cols-1 gap-5 md:grid-cols-2 md:gap-y-10 md:gap-x-6 xl:grid-cols-3
}