@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Adigiana';
  src: url('../fonts/Adigiana_Extreme.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-sans font-normal not-italic;
}

/* Language Toggle*/

.toggle {
  background: rgba(253, 253, 253, 0.8);
  border: 1px solid #ffffff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.15),
    inset -5px -4px 13px #dae9ef, inset 5px 4px 13px #dae9ef;
  backdrop-filter: blur(11.5px);

  border-radius: 5px;
}

.langLabel:hover,
.langLabel:focus {
  background: rgba(253, 253, 253, 0.8);
  outline: 1px solid #ffffff;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.15),
    inset -5px -4px 13px #dae9ef, inset 5px 4px 13px #dae9ef;
  backdrop-filter: blur(11.5px);

  border-radius: 5px;
}

address {
  font-style: normal;
}
