@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Adigiana';
  src: url('../fonts/Adigiana_Extreme.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply font-sans font-normal not-italic;
}

.headingCursive {
  font-family: 'Adigiana';
  text-shadow: 2px 1px 0px #000000;
}
